<div class="space-y-6">
    <div class="bg-white rounded-xl shadow-sm p-6 border border-gray-100">

        <h1 class="text-2xl font-bold text-gray-800">Límite de Gatos por Categoria</h1>

    </div>

    <div class="bg-white justify-center space-x-8 bg-card px-8 py-4 rounded-lg shadow-sm">

        <form [formGroup]="addLimitFormm" class="space-y-4" (ngSubmit)="onSubmit()">
            <div class="space-x-4">
                <label for="category" class="text-gray-700">Categoría:</label>
                <select id="category" name="category" class="border border-gray-300 rounded-md p-2"
                    formControlName="category_transaction_id">
                    @for (category of categories; track $index) {
                    <option [value]="category.id">{{ category.name }}</option>
                    }
                </select>
            </div>

            <div class="space-x-4 mt-4">
                <label for="limit" class="text-gray-700">Límite:</label>
                <input type="number" id="limit" name="limit" class="border border-gray-300 rounded-md p-2"
                    placeholder="$0.00" formControlName="limit">
            </div>

            <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Guardar
                Límite</button>
        </form>

    </div>

    <div class="bg-white rounded-xl shadow-sm p-6 border border-gray-100 mt-6">

        <h2 class="text-xl font-bold text-gray-800">Límites por Categoría</h2>

        <table class="min-w-full bg-white border border-gray-200 mt-4">
            <thead>
                <tr class="bg-gray-100">
                    <th class="py-2 px-4 border-b">Categoría</th>
                    <th class="py-2 px-4 border-b">Límite</th>
                    <th class="py-2 px-4 border-b">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (limit of limits; track $index) {
                <tr class="hover:bg-gray-50 text-center">
                    <td class="py-2 px-4 border-b">{{ limit.category }}</td>
                    <td class="py-2 px-4 border-b">{{ limit.limit | currency }}</td>
                    <td class="py-2 px-4 border-b" (click)="deleteLimit(limit.id)">
                        <button class="text-red-500 hover:text-red-700">Eliminar</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>